/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-dic-2015, 15:25:55
    Author     : cromero
*/
.moduloSeleccionado{
    background-color: rgba(255, 255, 255, 0.05);
}

.BlueLink {
  color: #29506b;
}

.fa-rotate-45 {
   -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}